
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="operacoes.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Operações</title>
</head>
<body>
    <div class="loan-card">
        <div class="card-content">
            <div class="left-content">
                <img src="assets/icons/index/Design sem nome (3).png" alt="Foto de Pessoa">
            </div>
            <div class="right-content">
                <h1 class="title">Operações Finance</h1>
                <p>Faça suas operações com segurança, livres de taxas!</p>
                <div class="highlighted-shapes">
                    <div class="highlighted-shape">
                        <img src="assets/icons/1.png" alt="Ícone Taxas">
                        <button class="apply-button" routerLink="/caixa/deposito" >Deposito</button>
                    </div>
                    <div class="highlighted-shape">
                        <img src="assets/icons/2.png" alt="Ícone Pagamentos">
                        <button class="apply-button" routerLink="/saque" >Saque</button>
                    </div>
                    <div class="highlighted-shape">
                        <img src="assets/icons/SVG.png" alt="Ícone Processo">
                        <button class="apply-button" routerLink="/caixa/transferencia" >Transferência</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-shape"></div>
    </div>
</body>

