<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-KyZXEAg3p8fo9taV6bxr9nHkF5EZlgmV1RGLe6U1EHDpWr+gGF+L4pJHuSO+H5TR" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="footer.component.css">
  <title>Footer Bancário</title>
</head>
<body>
  <div class="footer">
    <div class="footer-logo">
      <img src="assets/icons/Design_sem_nome__2_-removebg-preview.png" alt="Logo do Banco XYZ">
    </div>    
    <div class="social-icons">
      <a href="https://github.com/RuanPontes" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/jos%C3%A9-ruan-pontes-891a351b6/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <div class="footer-contact">
      <p>Entre em contato</p>
      <p>Email: ruanpontesfrazao@gmail.com</p>
      <p>Telefone:(83) 9 9965-2881</p>
    </div>
  </div>
</body>
</html>
