<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="criarconta.component.css">
    <title>Layout com Texto e Imagem</title>
  </head>
  <body>
    <div class="container">
      <div class="text">
        <h1 class="nav-link" routerLink="/contas">Operações</h1>
        <p>crie suas contas aqui!</p>
      </div>
      <div class="image">
        <img src="https://cdn.e-konomista.pt/uploads/2020/08/conta-bancaria-sem-comissoes-.jpg" alt="Sua Imagem">
      </div>
    </div>
  </body>
